#define IDD_DLGSUDOKU 1000
#define IDC_BTNVALIDATE 1001
#define IDC_BTNEXIT 1002
#define IDC_BTNSOLVE 1003
#define IDC_SBR1 1004
#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_EMPTY 10002
#define IDM_EXIT 10003
IDD_DLGSUDOKU DIALOGEX 6,6,297,188
CAPTION "SUDOKU"
FONT 8,"MS Sans Serif"
STYLE 0x10CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Controlla validità",IDC_BTNVALIDATE,"Button",0x50010000,18,156,80,15,0x00000000
  CONTROL "Esci",IDC_BTNEXIT,"Button",0x50010000,190,156,80,15,0x00000000
  CONTROL "&Risolvi",IDC_BTNSOLVE,"Button",0x50010000,104,156,80,15,0x00000000
  CONTROL "IDC_SBR",IDC_SBR1,"msctls_statusbar32",0x50000000,0,176,297,12,0x00000000
END
IDR_MENU MENUEX
BEGIN
  POPUP "File\tCtrl+F",IDM_FILE
  BEGIN
    MENUITEM "Crea vuoto\tCtrl+V",IDM_EMPTY
    MENUITEM "Esci\tCtrl+E",IDM_EXIT
  END
END
